#destinations {
    padding: 2rem 0;
}

.destinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.destination {
    /* Placement of child elements will be relative to this element */
    position: relative;
    border-radius: 10px;
}

.destination .location {
    /* Place the element at the bottom of the parent element (.destination) */
    position: absolute;
    bottom: 0;

    /* Make it take up the entire width of the parent */
    width: 100%;

    /* White, centered text */
    color: white;
    text-align: center;
}

.destination .location .city {
    font-family: "Dancing Script";
    font-size: 24px;
}

.destination .location .country {
    font-family: "Montserrat",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 16px;
}

.destinations .destination img {
    position: relative;
    object-fit: cover;
    justify-self: center;
    max-height: 380px;
    min-height: 380px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.destinations .destination a {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.img-hover-zoom {
    height: 100%;
    overflow: hidden;
}

/* Reansition for smooth transformation of images */
.img-hover-zoom img {
    transition: transform 1.2s ease;
}

/* Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.img-hover-zoom {
    transition: transform .5s ease;
}

@media (min-width: 768px) {
    .destinations {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}

@media (min-width: 768px) {
    #destinations .description {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media (min-width: 768px) {
    .destinations img {
        max-height: none;
    }
}